In [66]:
import pandas as pd
import numpy as np

from matplotlib.pyplot import MultipleLocator
import matplotlib.pyplot as plt
import seaborn as sns  #画密度图
from matplotlib.ticker import MaxNLocator, FuncFormatter, MultipleLocator
import matplotlib.ticker as ticker
import palettable #python颜色库

type_colors = {'all':'k','main':'#fc8d62','asso':'#66c2a5','new':'grey'}

In [67]:
key_data = pd.read_csv('Key_Data.csv')

In [68]:
key_data.head(5)

,index_i,mentee_id,mentor_id,community,paper_num_mte,paper_num_mto,paper_ratio_mte,paper_ratio_mto,credit_mte,credit_mto,...,total_cits_mte,total_cits_mto,total_cits5_mte,total_cits5_mto,cits_mte,cits_mto,cits5_mte,cits5_mto,birthYear_mte,birthYear_mto
0,0,A1964335128,A177689540,5.0,0,26,0.000000,1.0,0.000000,96.139683,...,7237.0,21415.0,4403.0,5485.0,0.0,1996.0,0.0,673.0,2004,1956
1,0,A1964335128,A177689540,3.0,0,42,0.000000,1.0,0.000000,150.796825,...,7237.0,21415.0,4403.0,5485.0,0.0,1276.0,0.0,264.0,2004,1956
2,0,A1964335128,A177689540,6.0,25,0,1.000000,0.0,523.366667,0.000000,...,7237.0,21415.0,4403.0,5485.0,4163.0,0.0,2469.0,0.0,2004,1956
3,0,A1964335128,A177689540,1.0,0,62,0.000000,1.0,0.000000,175.473810,...,7237.0,21415.0,4403.0,5485.0,0.0,5142.0,0.0,806.0,2004,1956
4,0,A1964335128,A177689540,0.0,8,107,0.074766,1.0,132.846429,724.462374,...,7237.0,21415.0,4403.0,5485.0,1817.0,8735.0,795.0,2880.0,2004,1956

In [69]:
surpasser = key_data['mentee_id'][key_data.total_credit_mte>=key_data.total_credit_mto].drop_duplicates().tolist()
print(len(surpasser))

7114

In [70]:
key_data.columns

Index(['index_i', 'mentee_id', 'mentor_id', 'community', 'paper_num_mte',
       'paper_num_mto', 'paper_ratio_mte', 'paper_ratio_mto', 'credit_mte',
       'credit_mto', 'communitys_paper_num_mto', 'communitys_paper_num_mte',
       'total_credit_mte', 'total_credit_mto', 'type', 'total_cits_mte',
       'total_cits_mto', 'total_cits5_mte', 'total_cits5_mto', 'cits_mte',
       'cits_mto', 'cits5_mte', 'cits5_mto', 'birthYear_mte', 'birthYear_mto'],
      dtype='object')

In [71]:
temp_key_data = pd.read_csv('temp_key_data.csv')

In [72]:
temp_key_data.head(5)

,index_i,mentee_id,mentor_id,community,paper_num_mte,paper_num_mto,paper_ratio_mte,paper_ratio_mto,credit_mte,credit_mto,communitys_paper_num_mto,communitys_paper_num_mte,total_credit_mte,total_credit_mto,type
0,0,A1964335128,A177689540,5.0,0,26,0.000000,1.0,0.000000,96.139683,284,67,739.891667,1392.864371,associate
1,0,A1964335128,A177689540,3.0,0,42,0.000000,1.0,0.000000,150.796825,284,67,739.891667,1392.864371,associate
2,0,A1964335128,A177689540,6.0,25,0,1.000000,0.0,523.366667,0.000000,284,67,739.891667,1392.864371,new
3,0,A1964335128,A177689540,1.0,0,62,0.000000,1.0,0.000000,175.473810,284,67,739.891667,1392.864371,main
4,0,A1964335128,A177689540,0.0,8,107,0.074766,1.0,132.846429,724.462374,284,67,739.891667,1392.864371,main

In [73]:
target_author = key_data[['mentee_id','total_cits5_mte']].drop_duplicates()
target_author.head(5)

      mentee_id  total_cits5_mte
0   A1964335128           4403.0
7   A2047598244           2013.0
14  A2141337483           1161.0
19  A2619161227            528.0
22  A3010849663          16304.0

In [74]:
len(target_author)

35395

In [75]:
author_id_info = pd.read_csv('author_id_info.csv')

In [76]:
author_id_info.head(5)

   AFTAuthorID   MAGAuthorID    author_id  careerlen  pubsnum
0            9  2.952982e+09  A2952981685       46.0     92.0
1           20  2.169128e+09  A2169128453       37.0     70.0
2           24  2.225823e+09  A2225823178       43.0    161.0
3           44  2.194379e+09  A2194378655       37.0    162.0
4           65  2.700743e+09  A2700743302       76.0     67.0

In [77]:
author_careerLen = author_id_info[['author_id','careerlen']].drop_duplicates()
author_careerLen = author_careerLen.rename(columns={"author_id":'mentee_id'})

In [78]:
len(author_careerLen)

93431

In [79]:
target_author = target_author.merge(author_careerLen,on='mentee_id',how='left')

In [80]:
target_author.head(5)

     mentee_id  total_cits5_mte  careerlen
0  A1964335128           4403.0       19.0
1  A2047598244           2013.0       18.0
2  A2141337483           1161.0      152.0
3  A2619161227            528.0       14.0
4  A3010849663          16304.0       37.0

In [81]:
np.quantile(target_author['careerlen'],0.5)

23.0

In [82]:
np.quantile(target_author['total_cits5_mte'],0.85)

5178.899999999998

In [83]:
target_author_cl25 = target_author[target_author['careerlen']>=25]

In [84]:
elite_q85 = target_author[target_author['total_cits5_mte']>=np.quantile(target_author['total_cits5_mte'],0.85)]

In [85]:
elite_q85_surpasser = target_author[(target_author['total_cits5_mte']>=np.quantile(target_author['total_cits5_mte'],0.85))&
                                   (target_author.mentee_id.isin(surpasser))]

In [86]:
target_author_cl25.head(5)

     mentee_id  total_cits5_mte  careerlen
2  A2141337483           1161.0      152.0
4  A3010849663          16304.0       37.0
7  A2008232695            854.0       39.0
8  A2152203782           6626.0       53.0
9  A2071713747            572.0       38.0

In [87]:
target_author_cl25 = target_author_cl25['mentee_id']

In [88]:
elite_q85 = elite_q85['mentee_id']

In [89]:
elite_q85_surpasser = elite_q85_surpasser['mentee_id']

In [90]:
len(elite_q85)

5310

In [91]:
len(elite_q85_surpasser)

2772

In [92]:
target_author_cl25.to_csv('target_author_cl25.csv',index=0)

In [93]:
elite_q85.to_csv('elite_q85.csv',index=0)

In [94]:
elite_q85_surpasser.to_csv('elite_q85_surpasser.csv',index=0)